@value gutter from "theme.module.css";
@value sm, lg, xl from "theme.module.css";
@value themeBackground from "theme.module.css";

.statistics {
	display: grid;
	grid-auto-rows: 100px;
	grid-auto-flow: dense;
	grid-gap: gutter;
}

.statistic {
	padding: gutter;
	background: themeBackground;
	/* TEMP? */
	position: relative;
	min-width: 0;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

.content > :only-child {
	margin: auto 0;
}

.title {
	display: flex;
}
.title div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.statistics { grid-template-columns: none; }
.span1 { grid-column-end: span 1; }
.span2 { grid-column-end: span 1; }
.span3 { grid-column-end: span 1; }
.span4 { grid-column-end: span 1; }

@media sm {
	.statistics { grid-template-columns: repeat(2, 1fr); }
	.span2 { grid-column-end: span 2; }
	.span3 { grid-column-end: span 2; }
	.span4 { grid-column-end: span 2; }
}

@media lg {
	.statistics { grid-template-columns: repeat(3, 1fr); }
	.span3 { grid-column-end: span 3; }
	.span4 { grid-column-end: span 3; }
}

@media xl {
	.statistics { grid-template-columns: repeat(4, 1fr); }
	.span4 { grid-column-end: span 4; }
}

/* TODO: Per-type? */
.icon {
	height: 1.5em;
	margin-right: 4px;
}
.bigNumberThing {
	font-size: 2em;
	line-height: 1em;
}
@value themeBlue from "theme.module.css";
.info {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: gutter;
	background: color(themeBlue l(90%));
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color .1s ease-in-out;
	color: color(themeBlue l(40%));
}
.statistic:hover .info {
	background: color(themeBlue l(85%));
}
.statistic {
	cursor: pointer;
}
.fuckSemantic {
	margin: 0 !important;
}
