.title {
	position: relative;
}

.description {
	display: flex;
	align-items: top;
	margin: 1.5em 1.5em 5em 1.5em;
}

.description p {
	margin-left: 1em;
}

.description i {
	margin: 0.5em;
	line-height: 2em;
}

