.header {
	display: flex;
}

.header:first-child {
	margin-top: 1em !important;
}

.header > img {
	align-self: center;
}

.resultsContainer {
	margin-bottom: 25vh;
}

.menuLogo {
	display: inline-block !important;
	width: 2.5em !important;
	margin-right: .75rem !important;
}

.sticky {
	position: sticky;
	top: 50px;
}
