@value gutter, themeText from "theme.module.css";

.header {
	display: flex;
}

.header:first-child {
	margin-top: 1em !important;
}

.header > img {
	align-self: center;
}

.resultsContainer {
	margin-bottom: 25vh;
}

.reportLink {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	margin: 0 calc(-1 * gutter);
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 0 gutter;
	color: themeText;
	line-height: 40px;
}

.reportLink:hover {
	color: themeText;
	font-weight: bold;
}

.menuLogo {
	display: inline-block;
	margin-right: 13px;
	height: 30px;
	vertical-align: middle;
}
