# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Editing these can technically leak access to some spicy creds so uh don't do that.
/.github/ @ackwell

# These are fine though
/.github/labeler.yml
/.github/pull_request_template.md
