.sidebar {
	position: relative;
	z-index: 1;
	flex-shrink: 0;
	margin-right: 20px;
	width: 300px;
}

.sidebar::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	display: block;
	width: 50vw;
	height: 100%;
	background: white;
}

.sidebar.home::before {
	/* TODO: light/dark blurred theme background */
	background: rgba(255, 255, 255, .5);
}

.wrapper {
	position: fixed;
	display: flex;
	flex-direction: column;
	padding: 20px 20px 0;
	width: 300px;
	height: 100%;
	overflow-y: auto;
}

.wrapper > * {
	flex-shrink: 0;
}

.logo {
	color: black;
	font-size: 24px;
	font-weight: bold;
}

.logo:hover {
	color: black;
}

.sidebar.home .logo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.logoImage {
	/* Adjust for the off-center-ness of the logo */
	margin: -10px .5em 0 0;
	height: 50px;
	vertical-align: middle;
}

.content {
	flex-grow: 1;
}

.options {
	margin: 20px -20px 0;
}
