@value gutter, themeText, themeBackground from "theme.module.css";

.sidebar {
	position: relative;
	z-index: 1;
	flex-shrink: 0;
	margin-right: gutter;
	width: 300px;
}

.sidebar::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	display: block;
	width: 50vw;
	height: 100%;
	background: themeBackground;
}

.sidebar.home::before {
	background: themeBackground;
	opacity: .5;
}

.wrapper {
	position: fixed;
	display: flex;
	flex-direction: column;
	padding: gutter gutter 0;
	width: 300px;
	height: 100%;
	overflow-y: auto;
}

.wrapper > * {
	flex-shrink: 0;
}

.logo {
	color: themeText;
	font-size: 24px;
	font-weight: bold;
}

.logo:hover {
	color: themeText;
}

.sidebar.home .logo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.logoImage {
	/* Adjust for the off-center-ness of the logo */
	margin: -10px .5em 0 0;
	height: 50px;
	vertical-align: middle;
}

.content {
	flex-grow: 1;
}

.options {
	margin: gutter calc(-1 * gutter) 0;
}
