root = true

[*]
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.yml]
indent_style = space
indent_size = 2

[package.json]
indent_style = space
indent_size = 2

[yarn.lock]
end_of_line = crlf
