.scaleHandler {
	margin: -1px;
	border: 1px dashed red;
}

.container {
	position: relative;
}

.row {
	composes: container;

	height: 2em;

	margin: -1px;
	border: 1px dotted green;
}

.item {
	position: absolute;
	top: 0;
	height: 100%;
	background: rgba(255, 0, 0, 0.3);
}
