.jobIcon {
	height: 1.4285em;
	margin: 0 5px 1px 0;
}

.buffIcon {
	width: 1.4285em;
	margin-left: .25em;
	vertical-align: baseline;
}

.spread_slot3 {
	width: 1.4285em;
	margin-left: .25em;
	vertical-align: baseline;
	margin-bottom: 3px;
}

.buffDummy {
	width: 1.4285em;
	margin: 0 0 0 0.25em;
	vertical-align: baseline;
	height: 26px;
	background-color: #efefef;
	border: 1px solid #9f9f9f;
	display: inline-block;
}