.headerItem {
	display: inline-block;
}


.headerItem span {
	position: relative;
	margin: 0 1em;
	line-height: 2em;
}

.jobIcon {
	height: 2em;
}

.dilationEventIcon {
	height: 2em;
}


.buffTable td:nth-child(2) {
	min-width: 150px;
	margin-right: 1em;
}
