@value gutter from "theme.module.css";
@value md from "theme.module.css";
@value themeBackground, themeText from "theme.module.css";

.description,
.meta {
	padding: gutter;
	background: themeBackground;
	flex-basis: 0;
	color: themeText;
}

.meta {
	margin: 0;
	margin-top: calc(gutter / 4);
}

.meta dt {
	font-weight: bold;
}

.meta dd {
	margin: 0;
}

.meta dd + dt {
	margin-top: 4px;
}

.contributor {
	display: block;
}

.contributor + .contributor {
	margin-top: 4px;
}

@media md {
	.container {
		display: flex;
		align-items: baseline;
	}

	.description {
		flex-grow: 2;
	}

	.meta {
		flex-grow: 1;
		margin-top: 0;
		margin-left: gutter;
	}
}
