.change {
	display: flex;
	align-items: center;
}

.date {
	flex-shrink: 0;
	margin-right: 1em;
}

.message {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: .75;
}

.contributors {
	flex-shrink: 0;
	margin-left: 1em;
	justify-self: flex-end;
}
