.cooldown :global .vis-item-content {
	padding: 0;
	height: 100%;
}

.cooldown :global .vis-item-content img {
	max-height: 100%;
}

.untargetable:global(.vis-item) {
	background-color: rgba(255, 125, 125, .5);
}

.invulnerable:global(.vis-item) {
	background-color: rgba(125, 125, 255, .5);
}
