@value gutter from "theme.module.css";

.helpText {
	font-style: italic;
}

@media (min-width: 992px) {
	.helpText {
		position: absolute;
		top: gutter;
		right: gutter;
	}
}

:global .vis-background .vis-item-content {
	padding: 0;
	height: 100%;
}

:global .vis-range .vis-item-overflow {
	padding: 0;
	/* display: none; */
}

:global .vis-item.vis-background .vis-item-content {
	width: 100% !important;
}

:global .vis-range .vis-item-content {
	padding: 0;
}

:global .vis-range .progress-fl img {
	height: 28px;
	width: 28px;
}

:global .vis-group {
	height: 28px;
}

:global .progress-wrapper-fl {
	width: 100%;
	height: 28px;
	position: relative;
	overflow: hidden;
	min-width: 28px;
}

:global .progress-wrapper-fl:hover .progress-fl.affected img {
	display: none;
}

:global .progress-fl {
	/* width: 60%; */
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #63ed63;
	margin-bottom: 0px;
	/* margin-top: -16px; */
}

:global .vis-background.highlight .vis-item-content {
	background-color: #63ed63;
}

:global .vis-background .vis-item-content img {
	max-height: 100%;
}

.allowOverflow :global .vis-item-overflow {
	overflow: visible;
}
