@value gutter, themeText from "theme.module.css";

div {
	color: themeText;
}

.helpText {
	font-style: italic;
}

@media (min-width: 992px) {
	.helpText {
		position: absolute;
		top: gutter;
		right: gutter;
	}
}
