.title { position: relative; }

.percent {
	position: absolute !important;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
}

.progress {
	display: inline-block !important;
	margin: 0 0 0 1em !important;
	text-align: right;
	vertical-align: middle;
	width: 200px;
}

.description {
	align-items: center;
	display: flex;
}

.description p { margin-left: 1em; }
