.title {
	position: relative;
}

.percent {
	position: absolute !important;
	top: 50%;
	transform: translateY(-50%);
	right: 1em;
}

.progress {
	display: inline-block !important;
	width: 200px;
	margin: 0 0 0 1em !important;
	text-align: right;
	vertical-align: middle;
}

.description {
	display: flex;
	align-items: center;
}

.description p {
	margin-left: 1em;
}
