.checkbox {
	position: absolute !important;
	right: 0;
	top: 1em;
}

.items { margin-top: 1.5em; }

.item {
	display: flex;
	margin: 1em 0;
	width: 100%;
}

.item:first-child { margin-top: 0; }

.item:last-child { margin-bottom: 0; }

.item > img {
	align-self: flex-start;
	margin-right: 1.5em;
	width: 40px;
}

.extra {
	color: rgba(0, 0, 0, .4);
	margin-top: .5em;
}
