// Tweak the site title to support image _and_ text
.site-title-logo {
	flex-shrink: 0;
	height: 100%;
	max-height: $header-height;
	padding-right: 10px;
}

.site-title-text {
	flex-grow: 1;
}

// Admonitions for content
@mixin admonition-bg($color) {
	border-color: $color;
	background-color: change-color($color, $alpha: 0.25);
}

.admonition {
	border-radius: 5px;
	padding: 10px 15px;
	border-left: 5px solid transparent;
	@include admonition-bg($grey-dk-100);
}

.admonition.tip { @include admonition-bg($green-300); }
.admonition.info { @include admonition-bg($blue-200); }
.admonition.caution { @include admonition-bg($yellow-300); }
.admonition.danger { @include admonition-bg($red-300); }

// Fix up code styling for dark theme
.highlight .nx,
.highlight .na
{ color: $grey-lt-300; }
