.scaleHandler {
	margin: -1px;
	border: 1px dashed red;
}

.container {
	position: relative;
}

.row {
	composes: container;

	min-height: 2em;

	margin: -1px;
	border: 1px dotted green;
}

.clickable {
	cursor: pointer;
}

.labelBackground {
	position: absolute;
	height: 100%;

	border-left: 1px solid black;
	background: rgba(0, 255, 0, 0.3)
}

.labelBackground.collapsed {
	background: rgba(0, 0, 255, 0.3);
}

.labelContent {
	position: absolute;
	transform-origin: top left;
}

.labelContent.collapsed {
	transform: rotate(-90deg) translateX(-100%);
	overflow: hidden;
	text-overflow: ellipsis;
	/* TODO: Maybe nowrap on text? */
}

.item {
	position: absolute;
	top: 0;
	height: 100%;
}

.gridLine {
	border-left: 1px solid blue;
	height: 100%;
}
