.scaleHandler {
	margin: -1px;
	border: 1px dashed red;
}

.container {
	position: relative;
}

.row {
	composes: container;

	min-height: 2em;

	margin: -1px;
	border: 1px dotted green;
}

.label {
	display: inline-block;
	height: 100%;
	background: rgba(0, 255, 0, 0.3)
}

.item {
	position: absolute;
	top: 0;
	height: 100%;
}

.gridLine {
	border-left: 1px solid blue;
	height: 100%;
}
