@value borderWidth: 1px;
/* These colours are currently picked to mimic vis' UI */
@value rowBorderColour: #bfbfbf;
@value gridLineColour: #e5e5e5;
@value majorGridLineColour: #bfbfbf;

.labelSpacer {
	/* Offset the negative margins stemming from the rows */
	padding: borderWidth;
}

.row {
	position: relative;
	min-height: 30px;
	margin: calc(-1 * borderWidth);
	border: 1px solid rowBorderColour;
	pointer-events: none;
}

.labelBackground {
	position: absolute;
	box-sizing: content-box;
	margin: calc(-1 * borderWidth);
	border: 1px solid rowBorderColour;
	border-right: none;
	height: 100%;
	pointer-events: all;

	background: rgba(0, 255, 0, 0.3)
}

.labelBackground.minimised {
	background: rgba(0, 0, 255, 0.3);
}

.labelBackground.collapsed {
	background: rgba(255, 0, 0, 0.3)
}

.labelContent {
	position: absolute;
	top: 50%;
	transform-origin: top left;
	transform: translateY(-50%);
	pointer-events: all;

	padding: 2px 5px;
}

.labelContent.minimised {
	transform: rotate(-90deg) translateX(-50%);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.interactive {
	cursor: pointer;
}

.itemContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.item {
	position: absolute;
	top: 0;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	pointer-events: all;
}

.gridLine {
	border-left: 1px solid gridLineColour;
	height: 100%;
}

.gridLine.major {
	border-color: majorGridLineColour;
}

.axisTick {
	padding: 3px;
}
