.scaleHandler {
	margin: -1px;
	border: 1px dashed red;
}

.row {
	position: relative;

	min-height: 2em;

	margin: -1px;
	border: 1px dotted green;
	pointer-events: none;
}

.labelBackground {
	position: absolute;
	height: 100%;
	pointer-events: all;

	border-left: 1px solid black;
	background: rgba(0, 255, 0, 0.3)
}

.labelBackground.minimised {
	background: rgba(0, 0, 255, 0.3);
}

.labelBackground.collapsed {
	background: rgba(255, 0, 0, 0.3)
}

.labelContent {
	position: absolute;
	top: 50%;
	transform-origin: top left;
	transform: translateY(-50%);
	pointer-events: all;

	padding: 2px 5px;
}

.labelContent.minimised {
	transform: rotate(-90deg) translateX(-50%);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.interactive {
	cursor: pointer;
}

.itemContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.item {
	position: absolute;
	top: 0;
	height: 100%;
	white-space: nowrap;
	pointer-events: all;
}

.gridLine {
	border-left: 1px solid blue;
	height: 100%;
}
