@value timingIconSize: 40px;

.header {
	display: flex;
}

.header:first-child {
	margin-top: 1em !important;
}

.header > img {
	align-self: center;
}

.resultsContainer {
	margin-bottom: 50vh;
}

.seeMore {
	margin: 0 5px;
}

.cdselector {
	position: relative;
	cursor: pointer;
	border-bottom: 1px dashed themeText;
}

.cduselist {
	margin: 0;
	padding: 0;
}

input[aria-invalid="true"] {
	border: 1px solid #f00;
	box-shadow: 0 0 4px 0 #f00;
}

