@font-face {
  font-family: 'job-icons';
  src:
    url('fonts/job-icons.ttf?vtj5li') format('truetype'),
    url('fonts/job-icons.woff?vtj5li') format('woff'),
    url('fonts/job-icons.svg?vtj5li#job-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="job-"], [class*=" job-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'job-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.job-AST:before {
  content: "\e900";
}
.job-BLM:before {
  content: "\e901";
}
.job-BRD:before {
  content: "\e902";
}
.job-DRG:before {
  content: "\e903";
}
.job-DRK:before {
  content: "\e904";
}
.job-MCH:before {
  content: "\e905";
}
.job-MNK:before {
  content: "\e906";
}
.job-NIN:before {
  content: "\e907";
}
.job-PLD:before {
  content: "\e908";
}
.job-RDM:before {
  content: "\e909";
}
.job-SAM:before {
  content: "\e90a";
}
.job-SCH:before {
  content: "\e90b";
}
.job-SMN:before {
  content: "\e90c";
}
.job-WAR:before {
  content: "\e90d";
}
.job-WHM:before {
  content: "\e90e";
}
