.background {
	background: url(./omega-dark-blur.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.search {
	bottom: 50%;
	left: 0;
	margin-bottom: -19px; /* Half the input group's height */
	position: absolute;
	right: 0;
}
