@value themeBackdrop from "theme.module.css";

body {
	background: themeBackdrop;

	/* Colours 'cus SUI doesn't for w/e reason */
	--info: var(--blue, blue);
	--success: var(--green, green);
	--warning: var(--yellow, yellow);
	--error: var(--red, red);
}

/* Apparently !important and calc() are SUI's favourite dish. Why the fuck am I using this thing again? */
.ui.attached {
	width: 100% !important;
}

/*
Dimmer sits at 1000, which _also_ happens to be the where the loaders sit. Sidebar needs to be in-between :blobrage:
Resulting stack:
 - 1000: loaders
 - 1001: sidebar
 - 1002: header
 - 1003: dimmer
*/
.ui.dimmer {
	z-index: 1003 !important;
}

/* Utility shit */
.pull-left { float: left; }
.pull-right { float: right; }

.text-info { color: var(--info); }
.text-success { color: var(--success); }
.text-warning { color: var(--warning); }
.text-error { color: var(--error); }
.text-orange { color: var(--orange); }
.text-grey { color: var(--grey); }

/* Easier to override these globally than in every component */
/* Unfortunately semantic UI uses !important inconsistently so */
/* we will have to make do. */
/* suggested TODO: move project to use semantic UI theme with LESS instead of CSS variables */
.accordion {
	background-color: var(--backdrop) !important;
	color: var(--text) !important;
}

.table {
	background-color: var(--backdrop) !important;
	color: var(--text) !important;
}

.title:not(.active) {
	color: var(--inactive-text) !important;
}

.title.active {
	color: var(--text) !important;
}

.header {
	color: var(--text) !important;
}
