/* Semantic's menu (being generic) doesn't de-bugger things under it, so I'll grab that. */
body {
	padding-top: 40px;
}

/* Forcing no wrapping on xivdb links so the icons don't get split off */
[data-xivdb-key] {
	white-space: nowrap;
}

/* Utility shit */
.pull-left { float: left; }
.pull-right { float: right; }
