@value gutter, md, lg, themeBackground from "theme.module.css";

.mobileHeader {
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 40px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	background: themeBackground;
	font-size: 18px;
	line-height: 40px;
}

.hamburger {
	margin: 0 !important;
	padding: 0 gutter 0 10px;
	width: auto !important;
	height: 40px !important;
	cursor: pointer;
}

.logo {
	margin: 0 5px 5px 0;
	max-height: 25px;
	vertical-align: middle;
}

.container {
	display: flex;
	margin: 0 auto;
	padding-top: calc(gutter + 40px);
	width: 100%;
	max-width: 1340px;
	min-height: 100vh;
}

.sidebar {
	position: absolute;
	top: 0;
	left: -250px;
	z-index: 6;
	flex-shrink: 0;
	width: 250px;
	height: 100%;
	transition: left .2s ease-in-out;
}

.sidebar::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	display: block;
	width: 50vw;
	height: 100%;
	background: themeBackground;
}

.sidebar.open {
	left: 0;
}

.sidebar.home::before {
	background: themeBackground;
	opacity: .5;
}

.content {
	position: relative;
	flex-grow: 1;
	/* This is nasty, but forces the flex to resize it smaller than it thinks it should */
	width: 0;
}

@media md {
	.mobileHeader {
		display: none;
	}

	.container {
		padding-top: 0;
	}

	.sidebar {
		position: relative;
		height: auto;
		left: 0;
	}

	.content {
		margin: gutter;
	}
}

@media lg {
	.sidebar { width: 300px; }
}
