.logo {
	height: 20px;
	width: auto !important;
	margin-right: .5em !important;
}

.version {
	opacity: .5;
}

.versionInfo,
.versionInfo dd {
	margin: 0;
}
.versionInfo dt {
	font-weight: bold;
}

.subtitle {
	margin-left: .5em;
	opacity: .5;
}
