.jobIcon {
	height: 1.4285em;
	margin: 0 5px 1px 0;
}
.cardActionRow a {
	cursor: pointer;
	text-decoration: underline;
	color: rgba(0,0,0,.87);
}
.cardActionRow a:hover {
	color: #4183c4;
}
.cardActionTable .cardActionRow td {
	padding-top: 5px;
	padding-bottom: 5px;
}

.buffIcon {
	width: 1.4285em;
	margin-left: .25em;
	vertical-align: bottom;
}

.buffPlaceholder, .buffUnknown {
	width: 1.4285em;
	margin: 0 0 0 0.25em;
	vertical-align: bottom;
	height: 26px;
	background-color: #efefef;
	border: 1px solid #9f9f9f;
	display: inline-block;
	position: relative;
}

.sealIconContainer {
	display: inline-block;
	position: relative;
	width: 65px;
	height: 26px;
	vertical-align: bottom;
	background-image: url('./seals_jobhud_simple.png')
}

.sealIcon {
	position: absolute;
	top: 5px;
	width: 18px;
}

.sealIcon:first-child {
	left: 6px;
}
.sealIcon:nth-child(2) {
	left: 24px;
}
.sealIcon:nth-child(3) {
	left: 42px;
}
