.change {
	display: flex;
	align-items: center;
	color: inherit !important;
	font-weight: normal !important;
}

.date {
	flex-shrink: 0;
	margin-right: 1em;
	opacity: .5;
}

.message {
	margin-right: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Using this junk to "flatten" out any children */
.message * {
	display: inline;
	margin: 0;
	padding: 0;
}

.message br {
	display: none;
}

.contributors {
	flex-shrink: 0;
	margin-left: auto;
	justify-self: flex-end;
}
