.chartWrapper { display: inline-block; }

.table {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.swatch {
	border: 1px solid grey;
	display: inline-block;
	height: 15px;
	vertical-align: middle;
	width: 15px;
}
