@value gutter, themeGrey, themeBlue, themeGreen, themeYellow, themeRed from 'theme.module.css';
@value block from '../shared.module.css';

.message {
	composes: block;
	display: flex;
	align-items: center;
	margin: 0 calc(-1 * gutter);
	padding: gutter;
}
.message:first-child {
	margin-top: calc(-1 * gutter);
}
.message:last-child {
	margin-bottom: calc(-1 * gutter);
}

/* Message type colours */
.default {
	background: var(--message-background);
	color: var(--message-text);
	border-color: var(--message-text);
}
.info {
	background: var(--info-background);
	color: var(--info-text);
	border-color: var(--info-text);
}
.success {
	background: var(--success-background);
	color: var(--success-text);
	border-color: var(--success-text);
}
.warning {
	background: var(--warning-background);
	color: var(--warning-text);
	border-color: var(--warning-text);
}
.error {
	background: var(--error-background);
	color: var(--error-text);
	border-color: var(--error-text);
}

.icon {
	/* Blame SUI */
	margin-right: gutter !important;
	height: auto !important;
	font-size: 3em !important;
}

.header {
	font-weight: bold;
	font-size: 1.1em;
}

.box {
	composes: block;
	display: flex;
	align-items: center;
	border-radius: 5px;
	margin: 14px 0;
	padding: 14px 21px;
	border-width: 1px;
	border-style: solid;
}
