@value gutter, messageBackground, messageText, infoBackground, infoText, successBackground, successText, warningBackground, warningText, errorBackground, errorText from 'theme.module.css';
@value block from '../shared.module.css';

.message {
	composes: block;
	display: flex;
	align-items: center;
	margin: 0 calc(-1 * gutter);
	padding: gutter;
}
.message:first-child {
	margin-top: calc(-1 * gutter);
}
.message:last-child {
	margin-bottom: calc(-1 * gutter);
}

/* Message type colours */
.default {
	background: messageBackground;
	color: messageText;
	border-color: messageText;
}
.info {
	background: infoBackground;
	color: infoText;
	border-color: infoText;
}
.success {
	background: successBackground;
	color: successText;
	border-color: successText;
}
.warning {
	background: warningBackground;
	color: warningText;
	border-color: warningText;
}
.error {
	background: errorBackground;
	color: errorText;
	border-color: errorText;
}

.icon {
	/* Blame SUI */
	margin-right: gutter !important;
	height: auto !important;
	font-size: 3em !important;
}

.header {
	font-weight: bold;
	font-size: 1.1em;
}

.box > .text {
	min-height: 1em;
	margin: 1em 0;
}

.box {
	composes: block;
	display: flex;
	align-items: center;
	border-radius: 5px;
	margin: 14px 0;
	padding: 0 21px;
	border-width: 1px;
	border-style: solid;
}
