@value gutter, themeBorder, themeBackground, themeBackdrop, themeText from 'theme.module.css';

.menu {
  display: flex;
  flex-direction: column;
	border: 1px solid themeBorder;
	border-radius: 5px;
	background: themeBackground;
	margin-bottom: gutter;
}

.item {
  border-right: 0;
	border-top: 0;
	border-bottom: 1px solid themeBorder;
  display: block;
	padding: 13px 16px;
	line-height: 1em;
}
a.item {
	color: themeText;
}
a.item:hover {
	background: themeBackdrop;
	color: themeText;
}
.item:last-child, .item:only-child {
	border-bottom: 0;
}

.top {
	border-radius: 5px 5px 0 0;
	border-bottom: 0;
}
.bottom {
	border-radius: 0 0 5px 5px;
	border-top: 0;
}
