@value gutter from 'theme.module.css';
@value themeBackground from 'theme.module.css';

.group {
	background-color: themeBackground;
}

.group + .group {
	margin-top: gutter;
}

.group h2 {
	padding: calc(0.5 * gutter) gutter;
	font-size: 1em;
}
