@value gutter from 'theme.module.css';
@value segmentLinkActive from 'theme.module.css';
@value themeBackground from 'theme.module.css';

.group {
	background-color: themeBackground;
}

.group + .group {
	margin-top: gutter;
}

.group h2 {
	margin: 0;
	padding: calc(0.5 * gutter) gutter;
	font-size: 1em;
}

.links {
	padding: calc(0.5 * gutter) 0;
}

.link {
	display: flex;
	padding: 0 gutter;
	line-height: 30px;
	color: inherit;
}

.link:hover {
	background: segmentLinkActive;
	color: inherit;
	font-weight: bold;
}

.text {
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
