@value gutter, messageBackground from 'theme.module.css';

.groupHeader {
	position: relative;
	z-index: 0;
	margin: calc(-1 * gutter);
	margin-bottom: 0;
	padding: calc(0.5 * gutter) gutter;
	overflow: hidden;
}

.groupHeader h2 {
	margin: 0;
	font-size: 1em;
}

.banner {
	position: absolute;

	/* Game image has a pre-baked blur, making larger to crop that. */
	top: -15%;
	left: -15%;
	width: 130%;
	height: 130%;
	z-index: -1;

	background: messageBackground;
	background-size: 110%;
	background-position: center;
	filter:  blur(5px);
}

.banner:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: white;
	opacity: 0.5;
}
