.chartWrapper {
	display: inline-block;
}

.table {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.swatch {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid grey;
	vertical-align: middle;
}
