.container {
	--ogcd-size: 30px;
	--gcd-size: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.container .link {
	margin-top: calc(var(--ogcd-size) * 0.5);
}

.container .link.ogcd {
	margin-top: 0;
}

.link .icon {
	height: var(--gcd-size);
}

.link.ogcd .icon {
	height: var(--ogcd-size);
}
