.groupHeader {
	position: relative;
	background: none !important;
	overflow: hidden;
	border: 0 !important;
}

.groupHeaderBackground {
	position: absolute;
	/* Need to make it way bigger to stop the blur bleeding into the view area */
	top: -15%;
	left: -15%;
	width: 130%;
	height: 130%;
	z-index: -1;

	background: var(--grey);
	background-size: 110%;
	background-position: center;
	filter: brightness(60%) blur(5px);
}
