@value gutter, md from 'theme.module.css';

.fightList {
	margin: 0 gutter;
}
@media md {
	.fightList {
		margin: 0;
	}
}

.refresh {
	font-size: 1rem;
	cursor: pointer;
}

.refresh :global(.icon) {
	margin-left: 1em;
	margin-right: .25em !important;
}

.groupHeader {
	position: relative;
	background: none !important;
	overflow: hidden;
	border: 0 !important;
}

.groupHeaderBackground {
	position: absolute;
	/* Need to make it way bigger to stop the blur bleeding into the view area */
	top: -15%;
	left: -15%;
	width: 130%;
	height: 130%;
	z-index: -1;

	background: var(--grey);
	background-size: 110%;
	background-position: center;
	filter: brightness(60%) blur(5px);
}
